name: Pull Request Staging
on:
  pull_request:
    branches: [develop, main]
env:
  REPO_NAME: zarf-website-${{ github.event.pull_request.node_id }}
jobs:
  create-page-host:
    runs-on: ubuntu-latest
    steps:
      - name: Create new repository for Staging
        uses: octobay/create-repository-action@v1
        with:
          name: ${{ env.REPO_NAME }}
          org: ${{ secrets.ORG }}
          if: ${{ secrets.ORG != 0 }}
          access-token: ${{ secrets.ACCESS_TOKEN }}
      - name: Enable Pages
        continue-on-error: true
        id: enable_pages
        uses: octokit/request-action@v2.1.0
        with:
          route: POST /repos/{owner}/{repo}/pages
          owner: ${{ github.repository_owner }}
          repo: ${{ env.REPO_NAME }}
          source: |
            branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
  build-deploy:
    needs: create-page-host
    runs-on: ubuntu-latest
    environment:
      name: pr-staging
      url: https://${{ github.repository_owner }}.github.io/${{ env.REPO_NAME }}/
    steps:
      - uses: actions/checkout@v2
      - uses: enriikke/gatsby-gh-pages-action@v2
        env:
          PATH_PREFIX: /${{ env.REPO_NAME }}
        with:
          deploy-branch: main
          deploy-repo: ${{ env.REPO_NAME }}
          access-token: ${{ secrets.ACCESS_TOKEN }}
          gatsby-args: --prefix-paths
